<li>
    <a href="{{ gallery_item.src }}" target="_blank" rel="noopener noreferrer">
        <img
            src="{{ gallery_item.src }}"
            alt="{{ gallery_item.alt }}"
            width="{{ gallery_item.width }}"
            height="{{ gallery_item.height }}"
        >
    </a>
</li>