{% extends 'base.html.twig' %}

{% block head %}
    <title>{{ item.metadata.title }}</title>
    <meta name="description" content="{{ item.metadata.description }}">
{% endblock %}

{% block body %}
    <article>
        <h1>{{ item.metadata.title }}</h1>
        <p><em>{{ item.metadata.date.format('d.m.Y') }}</em></p>

        {{ item.content|raw }}
    </article>
{% endblock %}
