{% extends 'base.html.twig' %}

{% block head %}
    <title>{{ item.metadata.metaTitle }}</title>
    <meta name="description" content="{{ item.metadata.metaDescription }}">
{% endblock %}

{% block body %}
    <article>
        {% if image %}
            <div class="header-image">
                <img src="{{ image }}">
            </div>
        {% endif %}
        <h1>{{ item.metadata.title }}</h1>
        <p><em>{{ item.metadata.date.format('d.m.Y') }}</em></p>

        {{ item.content|raw }}
    </article>
{% endblock %}
