<!DOCTYPE html>
<html lang="{{ item.metadata.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="generator" content="hexasite">
        {% block head %}{% endblock %}

        <link rel="stylesheet" href="{{ base_path }}assets/css/torchlight.css">
    </head>
    <body>
        <header>
            <div>Marcus Kober - Full Stack Developer</div>
            <p>
                {% if item.metadata.lang == 'de' %}
                    <strong>Achtung!</strong> Diese Seite ist nicht kaputt, sie befindet sich nur gerade im Aufbau, weshalb aktuell Bilder und Style-Dateien fehlen. Der Inhalt ist aber normal lesbar. Siehe <a href="{{ base_path }}index.html">Hinweis auf Startseite</a>
                {% else %}
                    <strong>Attention!</strong> This page is not broken; it’s just under construction, which is why images and style files are currently missing. However, the content is fully readable. See <a href="{{ base_path }}en/index.html">the notice on the homepage</a>.
                {% endif %}
            </p>
            {% if navigation is not empty %}
            <div>
                <nav>
                    <ul>
                        {% if multilanguage %}
                            {% for element in navigation[item.metadata.lang] %}
                                <li><a href="{{ base_path }}{{ element.slug }}">{{ element.navigationTitle }}</a></li>
                            {% endfor %}
                        {% else %}
                            {% for element in navigation %}
                                <li><a href="{{ base_path }}{{ element.slug }}">{{ element.navigationTitle }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            {% if multilanguage %}
                <div>
                    <ul>
                        {% for lang, alternative in item.metadata.alternatives %}
                            <li><a href="{{ base_path }}{{ alternative.slug }}" hreflang="{{ alternative.lang }}"> {{ alternative.lang|upper }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </header>
        <nav>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <hr>
            <p><a href="https://github.com/marcuskober">GitHub</a> — <a href="https://www.linkedin.com/in/marcus-kober/">LinkedIn</a></p>
            <p>Marcus Kober — <a href="mailto:hello@marcuskober.de">hello@marcuskober.de</a> — <a href="{{ base_path }}impressum.html">Impressum</a> | <a href="{{ base_path }}datenschutz.html">Datenschutz</a></p>
        </footer>
    </body>
</html>
